body {
	background-color: $almost-white;
}

h1 {
	font-size: modular-scale(5);
	font-weight: $header-weight;
}

h2 {
	font-size: modular-scale(4);
	margin: 0 0 0.3em;
}

h3 {
	font-size: modular-scale(2);
}

h4 {
	font-family: $base-font-family;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: $ls-medium;
	margin-bottom: 0.2em;
}

h5 {
	text-transform: uppercase;
	font-size: modular-scale(-1);
	letter-spacing: $ls-medium;
	font-family: $base-font-family;
}

ul {

}

ul li {
	// font-size: 0.85em;
}

li strong {
	font-weight: 500;
}

blockquote {
	position: relative;
	font-weight: 200;
	font-style: italic;
	&:before {
		content: '“';
		font-family: $heading-font-family;
		color: $primary-gold;		
		font-weight: 700;
		font-size: 3em;
		position: absolute;
		top: 26px;
		left: 0;
		line-height: 0;
		z-index: -1;
		opacity: 0.7;
	}
}

button {
	background: transparent;
	border: 1px solid transparent;
	border-image: linear-gradient(45deg, $primary-gold 0%, $secondary-gold 50%, $primary-gold 100%);
	border-image-slice: 1;
}

textarea {
	background: transparent;
	border: 1px solid transparent;
	border-image: linear-gradient(45deg, $primary-gold 0%, $secondary-gold 50%, $primary-gold 100%);
	border-image-slice: 1;
	color: $almost-white;
	height: 100px;
	margin-bottom: 2em;
}

// Shapes

.macbook {
	margin-bottom: 4em;
	div:nth-of-type(1) {
		width: 75%;
		margin: 0 auto;
		background: $darker-gray;
		border-width: 1px 1px 0 1px;
		border-radius: 20px 20px 0 0;
		position: relative;
		padding: 40px;
		&:after {
			content: '';
			position: absolute;
			left: 50%;
			top: 15px;
			background: $primary-gold;
			width: 12px;
			height: 12px;
			border-radius: 6px;
			transform: translateX(-50%);
		}
	}
	div:nth-of-type(2) {
		width: 90%;
		margin: 0 auto;
		background: $primary-gray;
		border-radius: 0 0 15px 15px;
		height: 36px;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			left: 50%;
			background: $primary-gold;
			width: 180px;
			height: 20px;
			border-radius: 0 0 10px 10px;
			transform: translateX(-50%);
		}
	}
	figure {
		width: 100%;
		position: relative;
		overflow: hidden;
		height: 600px;
	}
}

// Forms

form > div {
	position: relative;
}

.check-container {
	margin: 2em 0;
	@include clearfix;
	> div {
		@include span-columns(4);
		margin-bottom: 18px;
		&:nth-of-type(3n) {
			@include omega();
		}
		&:nth-of-type(n+4) {
			margin-bottom: 0;
		}
	}
	h5 {
		margin-bottom: 18px;
	}
}

.checkbox-custom {
    opacity: 0;
    position: absolute;   
}

.checkbox-custom, .checkbox-custom-label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.checkbox-custom-label {
    position: relative;
    line-height: 0;
    color: $light-gray;
    transition: color 0.3s ease-in-out;
    font-weight: 200;
}

.checkbox-custom + .checkbox-custom-label:before {
    content: '';
    border: 1px solid $primary-gold;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.checkbox-custom + .checkbox-custom-label:after {
    content: '\f00c';
    font-family: FontAwesome;
    position: absolute;
    left: 3px;
    top: 10px;
    font-size: 14px;
    color: $primary-gold;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

.checkbox-custom:checked + .checkbox-custom-label {
	color: $primary-gold;
	&:after {
		opacity: 1;		
	}
}

input[type='text'], input[type='email'] {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, $primary-gold 50%);
	background-size: 100% 200%;
	transition: all 0.3s ease-out;
	border: 1px solid $secondary-gold;
	border-width: 0 0 1px 0;
	border-radius: 0;
	height: 45px;
	margin-bottom: 20px;
	padding: 15px 10px;
	color: $primary-gold;
	&:hover {
		border-color: $primary-gold;
	}
	&:focus {
		background-position: 0 100%;
		color: $darker-gray;
	}
}

input[type='text'] + label, input[type='email'] + label, .select-label {
	position: absolute;
    top: 18px;
    right: 10px;
	font-size: 0.7em;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	color: $almost-white;
}

input[type='text'].visible + label, input[type='email'].visible + label, .select-label.visible {
    opacity: 1;
    transform: translateY(-4px);
}

.underline {
	&:after {
		content: '• • •';
		font-size: 0.4em;
		display: block;
		margin-top: 0.3em;
		color: $primary-gold;
	}
}

.portfolio {
	background-size: cover !important;
	a {
		width: 100%;
		height: 100%;
		display: block;
		text-align: center;
		background-color: rgba($darker-gray, 0.5);
	}
	h4 {
		padding-top: 30%;
		margin-bottom: 0.2em;
	}
	span {
		color: $light-gray;
		display: inline-block;
		text-transform: uppercase;
		font-size: 0.75em;
		font-weight: 600;
		letter-spacing: $ls-medium;		
	}
	h4, span {
		opacity: 0;
		transition: all 0.4s ease-in-out;
	}
	&:before, &:after {
		position: absolute;
		top: 30px;
		right: 30px;
		bottom: 30px;
		left: 30px;
		content: '';
		opacity: 0;
		transition: opacity 0.45s, transform 0.45s;	
		pointer-events: none;
	}
	&:before {
		border-top: 1px solid $primary-gold;
		border-bottom: 1px solid $primary-gold;
		transform: scale(0,1);
	}
	&:after {
		border-left: 1px solid $primary-gold;
		border-right: 1px solid $primary-gold;
		transform: scale(1,0);
	}
	&:hover {
		a {
			background-color: rgba($darker-gray, 0.9);
		}
		h4 {
			opacity: 1;
			transform: translateY(8px);
			transition-delay: 0.25s;
		}
		span {
			opacity: 1;
			transform: translateY(8px);
			transition-delay: 0.3s;
		}
		&:before, &:after {
			opacity: 1;
			transform: scale(1);
		}
	}
}

section {
	padding: 5em 30px;
}

// home

section#masthead {
	@include outer-container(100%);
	color: $almost-white;
	padding: 0;
	&.home {
		background: linear-gradient(rgba($primary-gold, 0.15), rgba($darker-gray, 0.1)), url('../img/home-bg.jpg') center top;
		background-size: cover;		
	}	
	&.about {
		background: linear-gradient(rgba($primary-gold, 0.15), rgba($darker-gray, 0.1)), url('../img/about-bg.jpg') center center;
		background-size: cover;		
	}
	&.work {
		background: linear-gradient(rgba($primary-gold, 0.15), rgba($darker-gray, 0.1)), url('../img/work-bg.jpg') center top;
		background-size: cover;		
	}	
	&.contact {
		background: linear-gradient(rgba($primary-gold, 0.15), rgba($darker-gray, 0.1)), url('../img/contact-bg.jpg') center center;
		background-size: cover;		
	}
	header {
		position: absolute;
		left: 3%;
		top: 48px;
		object {
			width: 60px;
		}
	}
	div {
		@include span-columns(6);
		@include omega();
		padding: 200px 3%;
		// @include media($sm) {
		// 	@include span-columns(4);
		// }
	}
	p {
		font-size: modular-scale(2);
	}
	#looper {
		color: $primary-gold;
	}
}

section#home-detail {
	@include outer-container(100%);
	> div {
		@include row();
	}
	article {
		@include span-columns(8);
		@include shift(2);
		padding: 0;
		text-align: center;
		margin-bottom: 2em;
	}
	aside {
		@include span-columns(6);
		@include omega(2n);
		position: relative;
		> div {
			position: relative;
			text-align: left;
			h5 {
				line-height: 25px;
			}
			&:first-of-type {
				@include span-columns(4);
				@include shift(1);
			}
			&:nth-of-type(2) {
				@include span-columns(6);
			}
		}
	}
	i {
		width: 100%;
		display: block;
		font-size: 1.4em;
		color: $almost-white;
		border-radius: 30px;
		margin-bottom: 20px;
		transition: all 0.3s ease-in-out;
	}	
	ul {
		display: flex;
		list-style: none;
		flex-direction: row;
		flex-wrap: wrap;
		li {
			display: flex;
			width: 33%;
			padding: 20px;
		}		
		a {
			cursor: default;
			padding: 30px;
			display: flex;
			flex-flow: row wrap;
			flex-direction: column;
			height: 100%;
			width: 100%;
			background: #fff;
			border-bottom: 1px solid shade($almost-white, 5%);
			transition: all 0.3s ease-in-out;
			&:hover {
				border-bottom: 1px solid $primary-gold;
				i {
					color: $primary-gold;
				}
				h5 {
					color: $darker-gray;
				}
			}		
		}
		h5 {
			color: $primary-gray;
		}
		a.last {
			cursor: pointer;
			justify-content: center;
			align-items: center;
			background: $primary-gray;
			h5 {
				color: $primary-gold;
			}
			@include three-dots-parent($child: 'h5', $delay: 0.15s, $display: inline-block, $bottom-pos: 5px, $right-pos: -8px, $hover-color: $almost-white, $dot-margin: 6px);
			&:hover {
				background: $darker-gray;
			}		
		}	
	}
}


section#home-work {
	@include outer-container(100%);
	position: relative;
	padding: 0;
	h2 {
		position: absolute;
		left: 10px;
		text-align: center;
		display: inline-block;
		color: $primary-gold;
		top: 55px;
		user-select: none;
	}
	> div {		
	}
	article {
		position: relative;
		min-height: 500px;
		height: 500px;
		width: 50%;
		float: left;
		display: block;
		background: url('../img/work/under-armour.jpg');
		z-index: 2;
		&:first-of-type {
			h2 {
				right: 10px;
				left: auto;
			}
		}		
	}	
}

section#home-testimonial {
	@include outer-container();
	> div {
		@include span-columns(12);
		text-align: center;
		blockquote {
			font-size: modular-scale(2);
		}
		p {
			font-size: 0.75em;
			font-weight: 600;
			letter-spacing: $ls-medium;
			text-transform: uppercase;
			color: $primary-gray;
		}
	}
}

section#bottom-cta {
	padding: 0;
	@include outer-container(100%);
	background: $primary-gold;
	text-align: center;
	position: relative;
	div {
	}
	a {
		@include three-dots-parent($child: 'h2', $delay: 0.15s, $display: inline-block, $bottom-pos: 14px, $right-pos: -10px, $hover-color: $darker-gray, $dot-margin: 10px);
		display: block;
		width: 100%;
		padding: 10em 0;
		overflow: hidden;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			width: 110%;
			height: 100%;
			transform: translateY(100%);
			background: $secondary-gold;
			opacity: 0;
			transition: transform 0.5s ease, opacity 0.3s ease;			
		}		
		&:hover {
			&:before {
				transform: translateY(0);
				opacity: 1;
			}
		}		
	}
	h2, span {
		color: $darker-gray;
		position: relative
	}
	span {
		display: block;
		margin-bottom: 1em;
	}	
}

// About Us

section#about-expertise {
	background: $darker-gray;
	color: $almost-white;
	@include outer-container(100%);
	article {
		@include span-columns(4);
		@include shift(1);
	}
	aside {
		@include span-columns(6);
		@include omega();
	}
	ul {
		margin-left: 50px;
		color: $primary-gold;
	}
	ul li {
		border-top: 1px solid rgba($primary-gold, 0.5);
		text-transform: uppercase;
		letter-spacing: $ls-medium;
		font-weight: 400;
		&:last-of-type {
			border-bottom: 1px solid rgba($primary-gold, 0.5);
		}
		a {
			padding: 20px 15px;
			width: 100%;
			height: 100%;
			display: block;
			line-height: 1em;
			position: relative;
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, $primary-gold 50%);
			background-size: 100% 200%;
			transition: all 0.4s ease-out;			
			&:after {
				content: '+';
				position: absolute;
				right: 10px;
				color: $almost-white;
				font-weight: 300;
				letter-spacing: normal;
			}
			&:hover {
				background-position: 0 100%;
				color: $darker-gray;			
			}
		}
		&.is-expanded a:after {
			content: '-';
		}
	}
	ul.accordion {
		> li p.submenu {
			display: none;
			background: $primary-gold;
			color: $almost-white;
			padding: 0 15px 15px;
			margin-bottom: 0;
			text-transform: none;
			font-size: 1em;
			letter-spacing: normal;
			font-weight: normal;
		}
		.is-expanded a {
			background-color: $primary-gold;
			color: $darker-gray;
		}
	}
}

section#about-story {
	@include outer-container(100%);
	background: $almost-white;
	header {
		@include row();
		> div {
			@include span-columns(12);
			text-align: center;
		}
	}
	article {
		@include row();
		padding-top: 6em;
		display: flex;
		justify-content: center;
		align-items: center;
		> div:first-of-type {
		@include span-columns(5);
		@include shift(1);
		}
		> div:last-of-type {
			@include span-columns(5);
		}
		object {
			max-width: 375px;
			max-height: 290px;
			display: block;
			margin: 0 auto;
		}
	}
}

section#about-us {
	@include outer-container(100%);
	> div {
		@include span-columns(10);
		@include shift(1);
	}
	article {
		@include span-columns(6);
		@include clearfix;
	}
	figure {
		position: relative;
		margin-bottom: 50px;
		&:before {
			content: '';
			border: 1px solid $primary-gold;
			position: absolute;
			top: 10px;
			left: 10px;
			width: 100%;
			height: 100%;
		}
		&:after {
			content: '';
			border: 1px solid $primary-gold;
			position: absolute;
			top: 5px;
			left: 5px;
			width: 100%;
			height: 100%;			
		}
	}
}

// Work

section.work-example {
	@include outer-container(100%);
	&:nth-of-type(odd) {
		background: $primary-gold;
		aside span {
			background: $primary-gray;
		}
		aside div:nth-of-type(1) {
			border-color: $primary-gray;
		}
	}	
	article {
		@include clearfix;
	}
	aside {
		@include shift(1);
		div:nth-of-type(1) {
			@include span-columns(7);
			padding-right: 2.35765%;
			border-right: 1px solid $primary-gold;
		}
		div:nth-of-type(2) {
			@include span-columns(4);
		}
		span {
			display: inline-block;
			background: $primary-gold;
			padding: 3px 10px;
			border-radius: 3px;
			margin: 5px 5px 5px 0;
			text-transform: uppercase;
			color: $almost-white;
			font-weight: 500;
			letter-spacing: $ls-medium;
			font-size: modular-scale(-1);
		}
	}
}

// Contact

section#contact-form {
	background: $darker-gray;
	color: $almost-white;
	@include outer-container(100%);
	> div {
		@include shift(1);
		@include row();
	}
	article {
		@include span-columns(4);
		@include shift(1);
	}
	aside {
		@include span-columns(5);
		@include shift(1);
		@include omega();
	}
	// i {
	// 	font-size: modular-scale(-1);
	// 	margin-right: 10px;
	// 	display: inline-block;
	// 	color: $primary-gray;
	// }
}

// Splash

section#splash {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	transition: background 0.4s ease-in-out;
	transition-delay: 0.2s;
	position: relative;
	div {
		text-align: center;
	}
	#fade-logo {
		position: absolute;
		top: 10px;
		left: 0;
		right: 0;
		margin: auto;
		width: 70px;
		opacity: 0;
		transition: all 0.5s ease-in-out;
		transition-delay: 0.3s;
		animation: none;
	}
	img {
		width: 150px;
		display: inline-block;
		transition: opacity 0.2s ease-in-out;
		animation: pulse 2s 1s infinite;
		pointer-events: none;
	}
	span {
		display: block;
		visibility: hidden;
		opacity: 0;
		transition: opacity 1s ease-in-out;
		color: $almost-white;
		border-bottom: 1px solid $primary-gold;
		padding: 10px 15px;
		transition-delay: 0.7s;
		font-size: 1.2em;
	}
	a {
		display: inline-block;
		z-index: 1001;
	}
}

section#splash.splash-hover {
	background: $darker-gray;
	img {
		opacity: 0;
	}
	span {
		visibility: visible;
		opacity: 1;
	}
	#fade-logo {
		opacity: 1;
		transform: translateY(50px);
	}
	a {
		cursor: default;
	}
}


@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  90% {
  	transform: scale3d(1, 1, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}