body {
	background-color: $almost-white;
}

h1 {
	font-size: modular-scale(5);
	font-weight: $header-weight;
}

h2 {
	font-size: modular-scale(4);
	margin: 0 0 0.3em;
}

h3 {
	font-size: modular-scale(2);
}

h4 {
	font-family: $base-font-family;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: $ls-medium;
	margin-bottom: 0.2em;
}

h5 {
	text-transform: uppercase;
	font-size: modular-scale(-1);
	letter-spacing: $ls-medium;
	font-family: $base-font-family;
	line-height: modular-scale(1);
}

h6 {
	font-style: italic;
	font-size: modular-scale(-1);
	letter-spacing: $ls-small;
	text-transform: uppercase;
	margin-bottom: 1.2em;
}

ul {

}

ul li {
	// font-size: 0.85em;
}

li strong {
	font-weight: 500;
}

blockquote {
	position: relative;
	font-weight: 200;
	font-style: italic;
	margin: 2em 0;
	&:before {
		content: '“';
		font-family: $heading-font-family;
		color: $primary-gold;		
		font-weight: 700;
		font-size: 3em;
		position: absolute;
		top: 15px;
		left: -10px;
		line-height: 0;
		z-index: -1;
		opacity: 0.7;
	}
}

button {
	background: transparent;
	border: 1px solid transparent;
	border-color: $primary-gold;
	border-image: linear-gradient(45deg, $primary-gold 0%, $secondary-gold 50%, $primary-gold 100%);
	border-image-slice: 1;
	&:focus {
		outline: 0;
	}
	@include media($md) {
		@include shift(0);
		@include fill-parent;
	}
}

[type='submit'] {
	background: $primary-teal;
	text-transform: uppercase;
	position: relative;
	border-radius: 0;
	padding: 20px 40px;
	font-size: modular-scale(0);
	font-weight: 700;
	letter-spacing: $ls-small;
	transition: all 0.3s ease-in-out;
	@include three-dots-parent($child: 'span', $delay: 0.15s, $display: inline-block, $bottom-pos: 4px, $right-pos: -8px, $hover-color: $almost-white, $dot-margin: 6px);
	&:hover {
		background: shade($primary-teal, 10%);
	}
}

textarea {
	background: transparent;
	border: 1px solid transparent;
	border-color: $primary-gold;
	border-image: linear-gradient(45deg, $primary-gold 0%, $secondary-gold 50%, $primary-gold 100%);
	border-image-slice: 1;
	color: $primary-gold;
	height: 100px;
	margin-bottom: 2em;
}

object {
	pointer-events: none;
}

// Shapes

.macbook {
	max-width: 1400px;
	margin: 0 auto 4em auto;
	@include media($md) {
		margin-bottom: 2em;
	}
	div:nth-of-type(1) {
		width: 75%;
		margin: 0 auto;
		background: shade($almost-white,10%);
		border: 1px solid $primary-gold;
		border-width: 1px 1px 0 1px;
		border-radius: 20px 20px 0 0;
		position: relative;
		padding: 40px;
		@include media($md) {
			width: 100%;
			border: none;
			background: transparent;
			padding: 0;
		}
		&:after {
			content: '';
			position: absolute;
			left: 50%;
			top: 15px;
			background: $darker-gray;
			width: 12px;
			height: 12px;
			border-radius: 6px;
			transform: translateX(-50%);
			@include media($md) {
				display: none;
			}
		}
	}
	div:nth-of-type(2) {
		width: 90%;
		margin: 0 auto;
		background: shade($almost-white,15%);
		border: 1px solid $primary-gold;
		border-width: 1px 1px 1px 1px;		
		border-radius: 0 0 15px 15px;
		height: 36px;
		position: relative;
		@include media($md) {
			display: none;
		}
		&:before {
			content: '';
			position: absolute;
			left: 50%;
			background: $primary-gray;
			width: 180px;
			height: 20px;
			border-radius: 0 0 10px 10px;
			transform: translateX(-50%);
		}
	}
	figure {
		width: 100%;
		position: relative;
		overflow: hidden;
		height: 600px;
		@include media($md) {
			height: auto;
		}
		@include media(min-width 992px max-width 1100px) {
			max-height: 450px;
		}
		@include media(min-width 1101px max-width 1200px) {
			max-height: 475px;
		}		
		@include media(min-width 1201px max-width 1300px) {
			max-height: 500px;
		}
		@include media(min-width 1301px max-width 1400px) {
			max-height: 550px;
		}		
	}
}

// .galaxy {
// 	border: 1px solid $primary-gold;
// 	box-shadow: -9px 11px 43px 1px rgba(0,0,0,0.17);
// }

// Forms

form > div {
	position: relative;
}

.check-container {
	margin: 2em 0;
	@include clearfix;
	> div {
		@include span-columns(4);
		margin-bottom: 18px;
		&:nth-of-type(3n) {
			@include omega();
		}
		&:nth-of-type(n+4) {
			margin-bottom: 0;
		}
	}
	h5 {
		margin-bottom: 18px;
	}
}

.checkbox-custom {
    opacity: 0;
    position: absolute;   
}

.checkbox-custom, .checkbox-custom-label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.checkbox-custom-label {
    position: relative;
    line-height: 0;
    color: $light-gray;
    transition: color 0.3s ease-in-out;
    font-weight: 200;
}

.checkbox-custom + .checkbox-custom-label:before {
    content: '';
    border: 1px solid $primary-gold;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-top: -1px;
}

.checkbox-custom + .checkbox-custom-label:after {
    content: '\f00c';
    font-family: FontAwesome;
    position: absolute;
    left: 3px;
    top: 9px;
    font-size: 14px;
    color: $primary-teal;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

.checkbox-custom:checked + .checkbox-custom-label {
	color: $primary-gold;
	&:after {
		opacity: 1;		
	}
}

input[type='text'], input[type='email'] {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, $primary-gold 50%);
	background-size: 100% 200%;
	transition: all 0.3s ease-out;
	border: 1px solid $secondary-gold;
	border-width: 0 0 1px 0;
	border-radius: 0;
	height: 45px;
	margin-bottom: 20px;
	padding: 15px 10px;
	color: $primary-gold;
	&:hover {
		border-color: $primary-gold;
	}
	&:focus {
		background-position: 0 100%;
		color: $darker-gray;
	}
}

input[type='text'] + label, input[type='email'] + label, .select-label {
	position: absolute;
    top: 18px;
    right: 10px;
	font-size: 0.7em;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	color: $almost-white;
}

input[type='text'].visible + label, input[type='email'].visible + label, .select-label.visible {
    opacity: 1;
    transform: translateY(-4px);
}

button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
	opacity: 1;
}

/* Change Autocomplete styles in Chrome*/
// input:-webkit-autofill,
// input:-webkit-autofill:hover, 
// input:-webkit-autofill:focus,
// input:-webkit-autofill, 
// textarea:-webkit-autofill,
// textarea:-webkit-autofill:hover,
// textarea:-webkit-autofill:focus,
// select:-webkit-autofill,
// select:-webkit-autofill:hover,
// select:-webkit-autofill:focus {
//   border: none;
//   -webkit-text-fill-color: none;
//   -webkit-box-shadow: transparent;
//   transition: none;
// }

// Loader

/*Typing Loader*/
.typing_loader{
	width: 6px;
	height: 6px;
	border-radius: 50%;
	animation: typing 1s linear infinite alternate;
	margin: 0 auto; /* Not necessary- its only for layouting*/  
	position: relative;
	left: -12px;
}
@-webkit-keyframes typing{
	0%{
	background-color: rgba(255,255,255, 1);
	box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.2), 
	24px 0px 0px 0px rgba(255,255,255,0.2);
	}
	25%{ 
		background-color: rgba(255,255,255, 0.4);
		box-shadow: 12px 0px 0px 0px rgba(255,255,255,2), 
		24px 0px 0px 0px rgba(255,255,255,0.2);
	}
	75%{ background-color: rgba(255,255,255, 0.4);
	 box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.2), 
		24px 0px 0px 0px rgba(255,255,255,1);
	}
}

@-moz-keyframes typing{
	0%{
		background-color: rgba(255,255,255, 1);
		box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.2), 
		24px 0px 0px 0px rgba(255,255,255,0.2);
	}
	25%{ 
		background-color: rgba(255,255,255, 0.4);
		box-shadow: 12px 0px 0px 0px rgba(255,255,255,2), 
		24px 0px 0px 0px rgba(255,255,255,0.2);
	}
	75%{ background-color: rgba(255,255,255, 0.4);
		box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.2), 
		24px 0px 0px 0px rgba(255,255,255,1);
	}
}

@keyframes typing{
	0%{
		background-color: rgba(255,255,255, 1);
		box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.2), 
		24px 0px 0px 0px rgba(255,255,255,0.2);
	}
	25%{ 
		background-color: rgba(255,255,255, 0.4);
		box-shadow: 12px 0px 0px 0px rgba(255,255,255,2), 
		24px 0px 0px 0px rgba(255,255,255,0.2);
	}
	75%{ background-color: rgba(255,255,255, 0.4);
		box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.2), 
		24px 0px 0px 0px rgba(255,255,255,1);
	}
}

.underline {
	&:after {
		content: '• • •';
		font-size: 0.4em;
		display: block;
		margin-top: 0.3em;
		color: lighten($primary-gold, 5%);
	}
}

.descriptor {
	color: $primary-navy;
	font-family: $base-font-family;
	text-transform: uppercase;
	font-size: 0.75em;
	letter-spacing: 0.2em;
	margin-bottom: 25px;
	font-weight: 200;
	position: relative;
	display: inline-block;
	z-index: 1;
	// &:after {
	// 	content: '';
	// 	background: #71cebb;
	// 	width: 114%;
	// 	height: 30px;
	// 	position: absolute;
	// 	left: calc(0% - 7%);
	// 	z-index: -1;
	// 	top: -9px;
	// 	transform: skew(-10deg, 0deg);		
	// }
}

.portfolio {
	background-size: cover !important;
	a {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		flex-wrap: wrap;
		background-color: rgba($primary-navy, 0.2);
		// @include media($sm) {
		// 	background: rgba($primary-navy, 0.5) !important;
		// 	> * {
		// 		display: none !important;
		// 	}
		// }
		> div {
			flex-basis: 100%;
		}
	}
	h4 {
		// padding-top: 10em;
		margin-bottom: 0.2em;
		color: $primary-gold;	
	}
	span {
		color: $almost-white;
		display: inline-block;
		text-transform: uppercase;
		font-size: 0.75em;
		font-weight: 600;
		letter-spacing: $ls-medium;	
		&:after {
			content: '•';
			display: inline-block;
			width: 18px;
		}
		&:last-of-type {
			&:after {
				display: none;
			}	
		}	
	}
	h4, span {
		opacity: 0;
		transition: all 0.4s ease-in-out;
	}
	&:before, &:after {
		position: absolute;
		top: 30px;
		right: 30px;
		bottom: 30px;
		left: 30px;
		content: '';
		opacity: 0;
		transition: opacity 0.45s, transform 0.45s;	
		pointer-events: none;
		// @include media($sm) {
		// 	display: none;
		// }		
	}
	&:before {
		border-top: 1px solid $primary-gold;
		border-bottom: 1px solid $primary-gold;
		transform: scale(0,1);
	}
	&:after {
		border-left: 1px solid $primary-gold;
		border-right: 1px solid $primary-gold;
		transform: scale(1,0);
	}
	&:hover, &:focus {
		a {
			background-color: rgba($primary-navy, 0.9);
		}
		h4 {
			opacity: 1;
			transform: translateY(8px);
			transition-delay: 0.25s;
		}
		span {
			opacity: 1;
			transform: translateY(8px);
			transition-delay: 0.3s;
		}
		&:before, &:after {
			opacity: 1;
			transform: scale(1);
		}
	}
	@include media($md) {
		a {
			background-color: rgba($primary-navy, 0.9);
		}
		h4 {
			opacity: 1;
			transform: translateY(8px);
			transition-delay: 0.25s;
		}
		span {
			opacity: 1;
			transform: translateY(8px);
			transition-delay: 0.3s;
		}
		&:before, &:after {
			opacity: 1;
			transform: scale(1);
		}
	}
}

section {
	padding: 5em 30px;
	// @include media($xl) {
	// 	// max-width: 1600px !important;
	// 	padding: 5em 12%;	
	// }
}

// home

section#masthead {
	@include outer-container(100%);
	color: $almost-white;
	padding: 0;
	// background-attachment: fixed !important;
	&.home {
		background: linear-gradient(rgba($primary-gold, 0.15), rgba($darker-gray, 0.1)), url('../img/home-bg.jpg') center top;
		background-size: cover;		
	}	
	&.about {
		background: linear-gradient(rgba($primary-gold, 0.15), rgba($darker-gray, 0.1)), url('../img/about-bg.jpg') center center;
		background-size: cover;		
	}
	&.work {
		background: linear-gradient(rgba($primary-gold, 0.15), rgba($darker-gray, 0.1)), url('../img/work-bg.jpg') center center;
		background-size: cover;		
	}	
	&.contact {
		background: linear-gradient(rgba($primary-gold, 0.15), rgba($darker-gray, 0.1)), url('../img/contact-bg.jpg') center center;
		background-size: cover;		
	}
	header {
		position: fixed;
		width: 100%;
		height: 110px;
		padding: 20px 30px;
		z-index: 9999;
		transition: all 0.3s ease-in-out;
		// @include media($md) {
		// 	left: 30px;
		// }
		&.smaller {
			height: 70px;
			padding: 0 30px;
			background-color: rgba($darker-gray, 0.9);
		}
		object {
			width: 60px;
			height: 70px;
		}
		a {
			display: inline-block;
			position: relative;
			height: 70px;
			line-height: 70px;
			&:after {
				content: ""; 
				position: absolute; 
				top: 0; 
				right: 0; 
				bottom: 0; 
				left: 0;				
			}
		}
	}
	> div {
		@include span-columns(6);
		padding: 200px 3%;
		@include media($md) {
			@include span-columns(12);
			padding: 150px 30px 100px;
		}
	}
	h1 span {
		position: relative;
		z-index: 1;
		// border-bottom: 7px solid #71cebb;
		&:after {
			content: '';
			width: 100%;
			position: absolute;
			left: 0;
			bottom: 0;
			z-index: -1;
			border: 5px solid #71cebb;
			border-width: 0 0 6px 0;
			// border-radius: 18px;
			// opacity: 1;
			// @include media($sm) {
			// 	display: none;
			// }
		}
	}
	p {
		font-size: modular-scale(2);
	}
	#looper {
		color: $primary-teal;
	}
}

section#home-detail {
	@include outer-container(1600px);
	position: relative;
	overflow: hidden;
	> div {
		@include row();
	}
	article {
		@include span-columns(8);
		@include shift(2);
		padding: 0;
		text-align: center;
		margin-bottom: 2em;
		@include media($md) {
			@include fill-parent;
			@include shift(0);
		}
	}
	aside {
		@include span-columns(6);
		@include omega(2n);
		position: relative;
		> div {
			position: relative;
			text-align: left;
			h5 {
				line-height: 25px;
			}
			&:first-of-type {
				@include span-columns(4);
				@include shift(1);
			}
			&:nth-of-type(2) {
				@include span-columns(6);
			}
		}
	}
	i {
		width: 100%;
		display: block;
		font-size: 1.4em;
		color: $primary-gold;
		border-radius: 30px;
		margin-bottom: 20px;
		transition: all 0.3s ease-in-out;
	}	
	ul {
		display: flex;
		list-style: none;
		flex-direction: row;
		flex-wrap: wrap;
		box-shadow: 0 0 30px rgba($primary-navy, 0.1);
		margin: 0 50px;	
		@include media($sm) {
			margin: 0;
		}	
		li {
			display: flex;
			width: calc(100% / 3);
			// padding: 20px;
			@include media($lg) {
				width: 50%;
			}
			@include media($sm) {
				width: 100%;
				padding: 20px 0;				
			}			
		}		
		div, a {
			cursor: default;
			padding: 40px;
			display: flex;
			flex-direction: column;
			width: 100%;
			background: #fff;
			// box-shadow: 0 1px 1px 0 rgba($primary-navy, 0.25);
			transition: all 0.3s ease-in-out;
			&:hover, &:focus {
				box-shadow: 0 8px 12px 0 rgba($primary-navy, 0.04), 0 0 30px 0 rgba($primary-navy, 0.05);
				z-index: 2;
				i {
					color: $primary-teal;
				}
				h5 {
					color: $darker-gray;
				}
			}
			@include media($md) {
				border-bottom: 1px solid $primary-gold;
				i {
					color: $primary-gold;
				}
				h5 {
					color: $darker-gray;
				}
			}	
		}
		h5 {
			color: $primary-gray;
		}
		a.last {
			cursor: pointer;
			justify-content: center;
			align-items: center;
			background: linear-gradient(135deg, lighten($primary-navy, 10%), $primary-navy);
			position: relative;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(135deg, lighten($primary-navy, 15%), lighten($primary-navy, 10%));
				opacity: 0;
				transition: opacity 0.5s ease;
			}
			h5 {
				color: $primary-teal;
				@include media($sm) {
					margin-bottom: 0;				
				}
			}
			@include three-dots-parent($child: 'h5', $delay: 0.15s, $display: inline-block, $bottom-pos: 5px, $right-pos: -8px, $hover-color: lighten($primary-teal, 10%), $dot-margin: 6px);
			&:hover, &:focus {
				&:before {
					opacity: 1;
				}
			}		
		}	
	}
}


section#home-work {
	@include outer-container(100%);
	position: relative;
	padding: 0;
	h2 {
		position: absolute;
		left: 10px;
		text-align: center;
		display: inline-block;
		color: rgba($almost-white, 0.9);
		top: 55px;
		user-select: none;
		@include media ($md) {
			display: none;
		}
	}
	> a {
	}
	article {
		position: relative;
		min-height: 600px;
		height: 600px;
		width: 50%;
		float: left;
		display: block;
		z-index: 2;
		@include media ($sm) {
			h4 {
				// @include span-columns(3);
			}
		}
		@include media ($md) {
			width: 100%;
			height: 300px;
		}
		@include media ($xl) {
			height: 700px;
			min-height: 700px;
		}
		&:first-of-type {
			background: url('../img/work/home-coresite.jpg');
			background-position: 50%;
			h2 {
				right: 10px;
				left: auto;
			}
		}
		&:last-of-type {
			background: url('../img/work/home-till.jpg');
			background-position: 50%;
		}		
	}	
}

section#home-testimonial {
	@include outer-container();
	> div {
		@include span-columns(10);
		@include shift(1);
		text-align: center;
		blockquote {
			font-size: modular-scale(1);
			@include media($md) {
			@include fill-parent;
			@include shift(0);
		}
		}
		p {
			font-size: 0.75em;
			font-weight: 600;
			letter-spacing: $ls-medium;
			text-transform: uppercase;
			color: $primary-gray;
		}
	}
}

section#bottom-cta {
	padding: 0;
	@include outer-container(100%);
	background: linear-gradient(70deg, $primary-teal, shade($primary-teal, 10%));
	text-align: center;
	position: relative;
	div {
	}
	a {
		@include three-dots-parent($child: 'h2', $delay: 0.15s, $display: inline-block, $bottom-pos: 14px, $right-pos: -10px, $hover-color: $darker-gray, $dot-margin: 10px);
		display: block;
		width: 100%;
		padding: 10em 0;
		overflow: hidden;
		position: relative;
		@include media($md) {
			padding: 5em 0;
			@include fill-parent;
			@include shift(0);
		}
		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			width: 110%;
			height: 100%;
			// transform: translateY(100%);
			background: linear-gradient(180deg, lighten($primary-teal, 10%), lighten($primary-teal, 5%));
			opacity: 0;
			transition: opacity 0.5s ease;			
		}
		&:hover {
			&:before {
				// transform: translateY(0);
				opacity: 0.9;
			}
		}		
	}
	h2, span {
		color: $darker-gray;
		position: relative
	}
	span {
		display: block;
		margin-bottom: 1em;
	}	
}

// About Us

section#about-expertise {
	background: $darker-gray;
	color: $almost-white;
	@include outer-container(100%);
	article {
		@include span-columns(4);
		@include shift(1);
		@include media($md) {
			@include span-columns(12);
			@include shift(0);
		}
	}
	aside {
		@include span-columns(6);
		@include omega();
		@include media($md) {
			@include span-columns(12);
		}		
	}
	ul {
		margin-left: 50px;
		color: $primary-gold;
		@include media($md) {
			margin-left: 0;
			margin-top: 2em;
		}
	}
	ul li {
		border-top: 1px solid rgba($primary-gold, 0.5);
		text-transform: uppercase;
		letter-spacing: $ls-medium;
		font-weight: 400;
		&:last-of-type {
			border-bottom: 1px solid rgba($primary-gold, 0.5);
		}
		a {
			padding: 20px 15px;
			width: 100%;
			height: 100%;
			display: block;
			line-height: 1em;
			position: relative;
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, $primary-gold 50%);
			background-size: 100% 200%;
			transition: all 0.4s ease-out;	
			@include media ($md){
			line-height: 25px;
			}		
			&:before, &:after {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				right: 15px;
				width: 14px;
				height: 1px;
				margin-top: -2px;
				background-color: $primary-gold;
				transform-origin: 50% 50%;
			}
			&:after {
				transform: rotate(-90deg);
				opacity: 1;
				transition: all 0.5s ease-in-out;
			}
			&:before {
				transition: all 0.2s;
			}
			&:hover {
				background-position: 0 100%;
				color: $darker-gray;
				&:before, &:after {
					background-color: $almost-white;
				}		
			}
		}
		&.is-expanded a:before {
			transform: rotate(0deg);
			opacity: 0;
		}
		&.is-expanded a:after {
			transform: rotate(-360deg);	
			background-color: $almost-white;		
		}
	}
	ul.accordion {
		> li p.submenu {
			display: none;
			background: $primary-gold;
			color: $almost-white;
			padding: 0 15px 15px;
			margin-bottom: 0;
			text-transform: none;
			font-size: 1em;
			letter-spacing: normal;
			font-weight: normal;
		}
		.is-expanded a {
			background-color: $primary-gold;
			color: $darker-gray;
		}
	}
}

section#about-story {
	@include outer-container(100%);
	background: $almost-white;
	position: relative;
	header {
		@include row();
		> div {
			@include fill-parent;
			text-align: center;
		}
	}
	span#caption {
		position: absolute;
		right: 30px;
		top: 30px;
		a {
			font-size: modular-scale(-2);
		}
		@include media($sm) {
			display: none;
		}
	}
	article {
		@include span-columns(10);
		@include shift(1);
		@include clearfix;
		display: flex;
		flex-wrap: row;
		align-items: center;
		margin-top: 6em;
		@include media($md) {
			@include row();
			margin-top: 3em;
		}	
		> div {
			flex: 1;
			object {
				max-width: 375px;
				max-height: 290px;
				@include media($md) {
					padding-bottom: 25px;
				}
			}
			&:first-of-type {
				text-align: center;
			}
		}
		&:nth-of-type(even) {
			> div {
				&:nth-of-type(odd) {
					order: 1;
				}
			}
		}
		// > div:first-of-type {
		// 	@include span-columns(5 of 10);
		// }
		// > div:last-of-type {
		// 	@include span-columns(5 of 10);
		// 	padding: 2em 0;
		// }
		// object {
		// 	max-width: 375px;
		// 	max-height: 290px;
		// 	display: block;
		// 	margin: 0 auto;
		// }
		// > div {
		// 	@include media($md) {
		// 		@include fill-parent;
		// 		margin: 2em 0;
		// 	}
		// }		
		// @include media($md) {
		// 	> div:first-of-type, > div:last-of-type {
		// 		@include fill-parent;
		// 		margin: 1em 0 !important;
		// 	}
		// }
		// &:nth-of-type(2) {
		// 	div:first-of-type {
		// 		@include shift(5 of 10);
		// 		@include omega();
		// 	}
		// 	div:last-of-type {
		// 		@include shift(-10 of 10);
		// 	}
		// }
		// &:last-of-type {
		// 	div:last-of-type {
		// 		padding-bottom: 0;
		// 		margin-bottom: 0 !important;
		// 	}
		// }	
	}
}

section#about-us {
	@include outer-container(100%);
	> div {
		@include span-columns(10);
		@include shift(1);
		text-align: center;
		@include media($md) {
			@include shift(0);
			@include fill-parent;
		}
	}
	article {
		@include span-columns(5);
		@include shift(1);
		@include clearfix;
		&:nth-of-type(2) {
			@include shift(0);
		}
		@include media ($md) {
			@include fill-parent;
			@include shift(0);
		}
		div {
			@include media ($md) {
			text-align: center;
			padding-bottom: 35px;
		}
		}
	}
	figure {
		position: relative;
		margin-bottom: 50px;
		&:before {
			content: '';
			border: 1px solid $primary-gold;
			position: absolute;
			top: 10px;
			left: 10px;
			width: 100%;
			height: 100%;
		}
		&:after {
			content: '';
			border: 1px solid $primary-gold;
			position: absolute;
			top: 5px;
			left: 5px;
			width: 100%;
			height: 100%;			
		}
	}
}

// Work

section.work-example {
	@include outer-container(100%);
	&:nth-of-type(odd) {
		background: shade($almost-white, 5%);
		aside div:nth-of-type(1) {
			border-color: $primary-gray;
		}
	}	
	article {
		@include clearfix;
	}
	aside {
		@include shift(1);
		@include span-columns(10);
		@include media($md) {
			@include fill-parent;
		}
		&:nth-of-type(n+2) {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			margin-top: 3em;
		}
		&:nth-of-type(odd) {
			dl {
				padding: 20px 35px 20px 0;
				border-left: none;
				border-width: 0 1px 0 0;
				margin-left: -100%;
				@include media($md) {
					margin-left: 0;
					padding: 0;
				}
			}
			figure {
				float: right;
				@include omega();
				@include shift(5 of 10);
				@include media($md) {
					margin-left: 0;
					float: none;
				}				
			}
		}
		@include media($md) {
			@include shift(0);
		}
		div {
			@include media($md) {
				@include fill-parent;
			}
		}	
		div {
			@include fill-parent;
			margin-top: 2em;
		}
		figure {
			@include span-columns(5 of 10);
			text-align: center;
			@include media($md) {
				@include fill-parent;
				@include omega();
				margin-bottom: 1em;
			}
			img {
				max-height: 500px;
			}
		}
		dl {
			@include span-columns(5 of 10);
			border: 1px solid rgba($darker-gray, 0.1);
			border-width: 0 0 0 1px;
			padding: 20px 0 20px 35px;
			@include media($md) {
				@include fill-parent;
				border: none;
				padding: 0;
			}			
		}
		ul {
			display: inline-block;
			margin: 2em 0 0;
			@include media($md) {
				margin: 1em 0 0;
			}
		}
		ul li {		
			margin: 0 10px 10px 0;
			display: inline-block;
			background: $primary-gold;
			border-radius: 3px;	
			padding: 2px 10px;
			color: $almost-white;
			letter-spacing: $ls-small;
			font-size: modular-scale(-1);
			font-weight: 400;
		}
	}
	div.results {
		@include fill-parent;
		margin-top: 0;
		padding: 0;
		ol {
			display: flex;
			list-style: none;
			flex-direction: row;
			flex-wrap: wrap;
			margin: 0 -15px;
		}
		ol li {
			width: calc(25% - 30px);
			padding: 0;
			margin: 0 15px;
			border: 1px solid shade($almost-white, 5%);
			border-width: 0 0 1px 0;
			border-radius: 0;
			display: flex;
			background: #fff;
			height: 160px;
			align-items: center;
			justify-content: center;
			transition: all 0.3s ease-in-out;
			&:hover {
				border-color: $primary-gold;
				span {
					color: shade($primary-gold, 10%);
				}
			}
			@include media($lg) {
				width: calc(33% - 30px);
				margin-bottom: 30px;
				&:last-of-type {
					margin-bottom: 0;
				}
			}
			@include media($md) {
				width: calc(50% - 30px);
			}			
			@include media($sm) {
				width: 100%;
				padding: 20px 0;				
			}
		}
		div {
			cursor: default;
			text-align: center;
			margin: 0;
			padding: 10px;
			width: 100%;
		}
		span {
			font-size: modular-scale(5);
			font-weight: 700;
			color: $primary-gold;
			transition: all 0.3s ease-in-out;
		}
		p {
			color: $primary-gray;
		}
	}
}

// Contact

section#contact-form {
	background: $darker-gray;
	color: $almost-white;
	@include outer-container(100%);
	> div {
		@include span-columns(10);
		@include shift(1);
		@include media($md) {
			@include shift(0);
			@include fill-parent;
		}
	}
	article {
		@include span-columns(4);
		@include shift(1);
		@include media($md) {
			@include shift(0);
			@include fill-parent;
		}
	}
	aside {
		@include span-columns(6);
		@include clearfix;
		@include shift(1);
		@include media($md) {
			@include shift(0);
			@include fill-parent;
			margin-bottom: 70px;
		}
		div {
			@include media($md) {
				@include fill-parent;
				margin-bottom: 10px;
			}
		}
	}
}

div#success {
	display: none;
	i {
		color: $primary-gold;
		font-size: modular-scale(5);
		margin: 0 0 0.3em 0;
	}
}

// Splash

// section#splash {
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	width: 100%;
// 	height: 100%;
// 	transition: background 0.4s ease-in-out;
// 	transition-delay: 0.2s;
// 	position: relative;
// 	div {
// 		text-align: center;
// 	}
// 	#fade-logo {
// 		position: absolute;
// 		top: 10px;
// 		left: 0;
// 		right: 0;
// 		margin: auto;
// 		width: 70px;
// 		opacity: 0;
// 		transition: all 0.5s ease-in-out;
// 		transition-delay: 0.3s;
// 		animation: none;
// 	}
// 	img {
// 		width: 150px;
// 		display: inline-block;
// 		transition: opacity 0.2s ease-in-out;
// 		animation: pulse 2s 1s infinite;
// 		pointer-events: none;
// 	}
// 	span {
// 		display: block;
// 		visibility: hidden;
// 		opacity: 0;
// 		transition: opacity 1s ease-in-out;
// 		color: $almost-white;
// 		border-bottom: 1px solid $primary-gold;
// 		padding: 10px 15px;
// 		transition-delay: 0.7s;
// 		font-size: 1.2em;
// 	}
// 	a {
// 		display: inline-block;
// 		z-index: 1001;
// 	}
// }

// section#splash.splash-hover {
// 	background: $darker-gray;
// 	img {
// 		opacity: 0;
// 	}
// 	span {
// 		visibility: visible;
// 		opacity: 1;
// 	}
// 	#fade-logo {
// 		opacity: 1;
// 		transform: translateY(50px);
// 	}
// 	a {
// 		cursor: default;
// 	}
// }


// @keyframes pulse {
//   from {
//     transform: scale3d(1, 1, 1);
//   }

//   50% {
//     transform: scale3d(1.1, 1.1, 1.1);
//   }

//   90% {
//   	transform: scale3d(1, 1, 1);
//   }

//   to {
//     transform: scale3d(1, 1, 1);
//   }
// }