// Breakpoints

$xs: new-breakpoint(max-width 543px 4);
$sm: new-breakpoint(max-width 767px 4);
$md: new-breakpoint(max-width 991px 12);
$lg: new-breakpoint(max-width 1199px 12);

// Padding

$content-padding: 20px;