// Typography

$freight: (
	"freight-text-pro",
	serif,
);

$header-weight: 800;

// Breakpoints

$xs: new-breakpoint(min-width 544px 4);
$sm: new-breakpoint(min-width 768px 4);
$md: new-breakpoint(min-width 992px 12);
$lg: new-breakpoint(min-width 1200px 12);

// Padding

$content-padding: 20px;