
footer {
	@include outer-container(100%);
	background: $darker-gray; /* fallback for old browsers */
	// background: linear-gradient(to left, $secondary-gold, $primary-gold); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	padding: 2em 0;
	text-align: center;
	a {
		color: $primary-gray;
		display: inline-block;
		&:hover {
			color: $primary-gold;
		}
		&:focus {
			outline: none;
		}
	}
	div {
		@include span-columns(4);
		color: $primary-gray;
		line-height: 40px;
		&:nth-child(2) {
		}
		object {
			width: 60px;
			display: block;
		}
		&:first-of-type {
			@include shift(4);
			line-height: 0;
			@include media ($md){
				@include shift(0);
			}
		}
		&:nth-of-type(2) {
			@include shift(-8);
			line-height: 31px;
			@include media ($md){
				@include shift(0);
			}
		}
		&:last-of-type {
			@include omega();
			line-height: 31px;
			@include media ($md){
				@include shift(0);
			}
		}
		@include media ($md) {
			@include fill-parent;
			margin: 10px 0;
		}
	}
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style-type: none;
			display: inline-block;
			margin-right: 25px;
			&:focus {
				outline: none;
			}
			&:last-of-type {
				margin-right: 0;
			}
		}
	}
	span {
		font-size: modular-scale(-1);
		line-height: 0;
	}
}