/* Hides everything pushed outside of it */
.site-wrap {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

/* Adds a transition and the resting translate state */
.push-wrap {
	min-height: 1000px;
	position: relative;
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Will animate the content to the right 275px revealing the hidden nav */
.show-nav {
	#body-nav {
		background: rgba($dark-gray, 0.95);
		z-index: 1;
		ul li a {
			opacity: 1;
		}
	}
}

/* Positions the nav fixed below the push wrapper */
nav {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#body-nav {
	position: fixed;
    overflow: hidden;
    top: 0;
    background: transparent;
    text-align: left;
    display: block;
    transform: translate3d(0,0,0);
    transition: background 1500ms ease;
    z-index: 999999999;
    -webkit-touch-callout: none;
    user-select: none;
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: 0;
    box-shadow: none!important;
    ul {
		position: absolute;
		left: 0%;
		width: 100%;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateX(-50%) translateY(-50%);
		transform: translateY(-50%);
        li {
            a {
                display: block;
                text-decoration: none!important;
                height: 100px;
                line-height: 100px;
                font-size: 50px;
                color: #fff;
                opacity: 0;
                border: none;
                transition: all 500ms ease;                
            }
        }
    }
}

#menu-toggle {
    width: 70px;
    height: 70px;
    margin: 30px auto;
    // position: relative;
    cursor: pointer;
    background: transparent;
    border: 1px solid transparent;
    border-image: linear-gradient(45deg, $primary-gold 0%, $secondary-gold 50%, $primary-gold 100%);
    border-image-slice: 1;
    z-index: 9999999999999;
    position: fixed;
    display: block;
    right: 30px;
    * {
        transition: all 0.25s ease-in-out;
    }
    &:hover {

    }
    #hamburger {
        position: absolute;
        height: 100%;
        width: 100%;
        span {
            width: 40px;
            height: 1px;
            position: relative;
            top: 17px;
            left: 15px;
            margin: 8px 0;
            &:nth-child(1) {
                transition-delay: 0.5s;
            }
            &:nth-child(2) {
                transition-delay: 0.625s;
            }
            &:nth-child(3) {
                transition-delay: 0.75s;
            }
        }
    }
    #cross {
        position: absolute;
        height: 100%;
        width: 100%;
        transform: rotate(45deg);
        span {
            &:nth-child(1) {
                height: 0;
                width: 1px;
                position: absolute;
                top: 15px;
                left: 35px;
                transition-delay: 0s;
            }
            &:nth-child(2) {
                width: 0;
                height: 1px;
                position: absolute;
                left: 15px;
                top: 35px;
                transition-delay: 0.25s;
            }
        }
    }
    span {
        display: block;
        background: $primary-gold;
    }
}

#menu-toggle.open {
    #hamburger {
        span {
            width: 0%;
            &:nth-child(1) {
                transition-delay: 0s;
            }
            &:nth-child(2) {
                transition-delay: 0.125s;
            }
            &:nth-child(3) {
                transition-delay: 0.25s;
            }
        }
    }
    #cross {
        span {
            &:nth-child(1) {
                height: 40px;
                transition-delay: 0.625s;
            }
            &:nth-child(2) {
                width: 40px;
                transition-delay: 0.375s;
            }
        }
    }
}